.navbar-brand {
  font-family: 'Stalinist One', cursive;
  /* margin-left: 1rem; Adjust the margin as needed */
}
.newcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
